/* IM ALL */

    body
    {

    /* Degrade Geral */

        background-image: linear-gradient(to top, #A1D8FF, #E8B4DC);
        min-height: 100vh;  

    }

/* IM TOP SIDE */

    /* Header */

        .top-side header /* CSS Cabeçalho */
        {
            background-color: white;
            min-width: 100%;
            max-height: 10vh;
            box-shadow: 2.5px 0px 2.5px white;
        }

        .top-side header .container-fluid .row /* Conteudo do Cabeçalho */
        {
            font-family: cursive;
            color: #ABBAFE;

            padding-bottom: 2vh;
        }

        .top-side header img /* Logo */
        {
            max-height: 10vh;
            
        }

        .top-side header h1 /* Nome */
        {
            font-size: 5vh;
        }

        .top-side header h1 p /* Slogan */
        {
            font-size: 2vh; 
        }

    /* Sub-Header */

        .top-side .sub-header nav .row div /* Box */
        {
            background-color: #ABBAFE;
            border-radius: 250px;

            margin-top: -1vh;
        }

        .top-side .sub-header nav .row div ul li a /* Itens */
        {
            color: white; 
        }

/* IM MID SIDE */

        .mid-side
        {
            height: 100%;
        }


    /* -=+=- Carrossel -=+=- */

        .mid-side .carrossel
        {
            margin-top: 2.5vh;
        }

        .mid-side .carousel
        {  
            min-height: 25vh;
            max-height: 55vh;

        }

        .mid-side .carousel-inner, .carousel-item img
        {
            border-radius: 10px;
            height: 100%;
        }

        .carousel-item
        { 
            height: 100%;
        }

    /* -=+=- Cardápio -=+=- */

        .cardapio
        {
            margin-top: 5vh;
        }

        .cardapio .titulo div
        {
            background-color: #ABBAFE;
            border-radius: 250px;
        }

        .cardapio .produtos
        {
            background-color: white;
            border-radius: 10px;
            margin-top: 2.5vh;
        }
        
        .cardapio .produtos img
        {
            height: 30vh;
            padding: 20px;
        }

        .cardapio .mobile .produtos img
        {
            height: 45vh;
            padding: 20px;
        }

        .cardapio .mobile
        {
            background-color: transparent;
            box-shadow: transparent;
        }

        .cardapio .produtos .card
        {
            border-radius: 10px;
            box-shadow: 2.5px 2.5px 5px lightgray;
        }

        .cardapio .mobile .card
        {
            box-shadow: 2.5px 2.5px 5px transparent;
        }

        .cardapio .produtos .card .btn
        {
            background-image: linear-gradient(to top, #A1D8FF, #E8B4DC);
            border: transparent;
            width: 200px;
        }
        

    /* -=+=- Info -=+=- */

        .info
            {
                margin-top: 5vh;
            }

        .info .titulo div
        {
            background-color: #ABBAFE;
            border-radius: 250px;
        }

        .info section article
        {
            background-color: white;
            border-radius: 10px;
            margin-top: 2.5vh;
        }

        .info section article p
        {
            text-align: justify;
        }

        .info section article img
        {
            border: solid 2px white;

        }

    /* -=+=- GPS -=+=- */   

        .gps
        {
            margin-top: 5vh;
        }

        .gps .mapa iframe{
            width: 100%;
            height: 600px;
            border-radius: 10px;
        }

        .gps .box h2
        {
            color: white;
            background-color: #ABBAFE;
            border-radius: 50px;
            padding: 1.5vh;
        }


/* IM BOT SIDE */

    /* Rodapé */

        footer
        {
            background-color: 
            #ABBAFE;
            margin-top: 10vh;
        }